.about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 0px solid whitesmoke;
}

.about__me {
    width: 100%;
    border: 0px solid rgb(237, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__me-image {
    border-radius: 2rem;
    width: 50%;
    overflow: hidden;
    /* transform: rotate(10deg); */
    background: linear-gradient(45deg, rgba(5, 104, 184, 0.80) 2%, var(--color-primary) 100%);
    z-index: 1;
}

.about__me-image:hover {
    transform: rotate(0);
}
.about__content{
    border: 0px solid red;
}