@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

header {
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    position: relative;
}

/* =========================== HEADER BUTTONS ========================= */

.header__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =========================== HEADER SOCIALS ========================= */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =========================== MY PHOTO ========================= */

.my__photo {
    width: 22rem;
    height: 30rem;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
}

.my__background {
    height: 27.5rem;
    position: relative;
    top: 0;
    left: 0;
}

.my__photo-background {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: var(--transition);
}

.my__photo-background:hover {
    transform: rotate(8deg);
    transition: var(--transition);
}

.my-name {
    position: absolute;
    border-radius: 10px;
    top: 21rem;
    left: 6rem;
    transform: rotate(-20deg);
}

.my-name h4 {
    font-size: 2rem;
    font-weight: 300;
    color: #f61111fa;
    font-family: 'Oleo Script Swash Caps', cursive;
}

/* sidhant */
.first-name {
    position: absolute;
    border-radius: 10px;
    padding: 0.2rem;
    background-image: linear-gradient(to right bottom, rgba(208, 204, 204, 0.8), rgba(77, 181, 255, 0.6));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.last-name {
    position: absolute;
    border-radius: 10px;
    top: 2.8rem;
    left: 4rem;
    padding: 0.2rem;
    z-index: -1;
    background-image: linear-gradient(to right bottom, rgba(208, 204, 204, 0.8), rgba(77, 181, 255, 0.6));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


/* =========================== SCROLL DOWN ========================= */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 3rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

.scroll__down::before {
    content: "\25b2";
    position: absolute;
    background: var(--color-primary);
    width: 1px;
    height: 0px;
    transform: rotate(90deg);
    right: -1.5rem;
    bottom: 18px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

/* ===========================MEDIA QUERIES (SMALL DEVICES)==================================== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 4rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .my__photo {
        margin-bottom: 6rem;
        margin-top: 2rem;
        width: 30rem;
        height: 35rem;
    }

    .my__background {
        height: 40rem;
    }

    .my-name {
        top: 32rem;
        left: 8rem;
    }

    .my-name h4 {
        font-size: 3rem;
    }

    .last-name {
        top: 4rem;
        left: 6rem;
    }

    h4 {
        font-size: 1.6rem;
    }
}