@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =========================== HEADER BUTTONS ========================= */

.header__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translateX(-40%) translateY(-50%);
}

.position{
    position: absolute;
    top: 75%;
    left:53%;
    transform: translateX(-45%) translateY(-50%);
}

/* =========================== HEADER SOCIALS ========================= */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =========================== MY PHOTO ========================= */

.my__photo {
    width: 22rem;
    height: 26rem;
    position: absolute;
    left: calc(50% - 10rem);
    overflow: hidden;
}

.my__photo img {
    display: block;
    max-width: 100%;
}

.my__photo svg {
    position: absolute;
    top: 0;
    left: -2rem;
    width: 27rem;
    height: 32rem;
    z-index: -1;
}

.my__photo img:hover {
    transform: rotate(5deg);
}

.title__h4{
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
    color: rgb(0, 255, 166);
    position: absolute;
    top: 20.59rem;
    right: 8rem;
    transform: rotate(-20deg);
    font-family: 'Oleo Script Swash Caps', cursive;
}

.title{
    background-image: linear-gradient(to right bottom, #0b0b14, #4db5ff);
    border-radius: 10px;
    padding: 0.5rem;
}
.title__2{
    top: 3rem;
    left: 5rem;
    transform: translateY(-10px);
    position: absolute;
    height: 4rem;
    z-index: -10;
}


/* =========================== SCROLL DOWN ========================= */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 4.5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

.scroll__down::before {
    content: "\25b2";
    position: absolute;
    background: var(--color-primary);
    width: 1px;
    height: 0px;
    transform: rotate(90deg);
    right: -1.5rem;
    bottom: 17.5px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

/* ===========================MEDIA QUERIES (SMALL DEVICES)==================================== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 4rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .my__photo {
        width: 30rem;
        height: 39rem;
        left: calc(50% - 15rem);
    }

    .my__photo svg {
        left: -5rem;
        width: 40rem;
        height: 38rem;
    }

    .my__photo img {
        width: 30rem;
        height: 38rem;
    }

    .title__h4{
        font-size: 3rem;
        top: 31rem;
        right: 12rem;
    }

    .title__2{
        top: 4.8rem;
        left: 7rem;
        height: 5.5rem;
    }

    .header__buttons {
        top: 70%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .position{
        top: 65%;
        left:53%;
        transform: translateX(-55%) translateY(-50%);
    }

    h1 {
        font-size: 3rem;
    }

    h4 {
        font-size: 1.6rem;
    }
}