header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =========================== HEADER BUTTONS ========================= */

.header__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =========================== HEADER SOCIALS ========================= */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =========================== MY PHOTO ========================= */

.my__photo {
    width: 22rem;
    height: 25.5rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    overflow: hidden;
    padding-top: 2rem;
}

.my__photo img {
    display: block;
    max-width: 100%;
}

.my__photo svg {
    position: absolute;
    top: 0;
    left: -2rem;
    width: 27rem;
    height: 32rem;
    z-index: -1;
}

.my__photo img:hover {
    transform: rotate(10deg);
}



/* =========================== SCROLL DOWN ========================= */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 4.5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

.scroll__down::before {
    content: "\25b2";
    position: absolute;
    background: var(--color-primary);
    width: 1px;
    height: 0px;
    transform: rotate(90deg);
    right: -1.5rem;
    bottom: 17.5px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

/* ===========================MEDIA QUERIES (SMALL DEVICES)==================================== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 4rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .my__photo {
        width: 30rem;
        height: 39rem;
        left: calc(50% - 15rem);
    }

    .my__photo svg {
        position: absolute;
        top: 0;
        left: -5rem;
        width: 40rem;
        height: 38rem;
        z-index: -1;
    }

    .my__photo img {
        width: 30rem;
        height: 38rem;
    }

    h1 {
        font-size: 3rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}