nav {
    background: var(--color-background-nav);
    width: max-content;
    padding: 0.4rem 1.4rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 0.8rem;
    display: flex;
    gap: 0.8em;
    border-radius: 3rem;
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    nav {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 95%;
    }
}

nav a,
nav button {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover,
nav button:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-background-nav-icon-active);
    color: var(--color-white);
}