.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: var(--color-bg);
    position: relative;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  }

  .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: gray;
  }