@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  z-index: 1;
}
#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

:root {
  /* --color-bg: #0b0b14;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
  --color-white: #fff; */
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
.dark-theme {
  --color-bg: #0b0b14;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
  --color-white: #fff;
  --color-background-nav: rgba(25, 24, 96, 0.32);
  --color-background-nav-icon-active: #4c60e069;
  --color-name-morphism: rgba(77, 181, 255, 0.5);
  --color-name-morphism-box: rgba(31, 38, 135, 0.37);
}
.light-theme {
  --color-bg: #fff8e1;
  --color-bg-variant: #ffecb3;
  --color-primary: #ff9800;
  --color-primary-variant: rgba(240, 240, 71, 0.4);
  --color-light: rgba(29, 29, 29, 1);
  --color-white: #757575;
  --color-background-nav: rgba(153, 173, 39, 0.32);
  --color-background-nav-icon-active: #f1a007b9;
  --color-name-morphism: rgba(240, 201, 29, 0.5);
  --color-name-morphism-box: rgba(240, 201, 29, 0.37);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  transition: all 800ms ease;
}

/* =======================================GENERAL STYLES============================================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-primary);
  margin-top: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #191a2a 0%, #12100e 100%);
  position: relative;
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em #000000aa;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: gray;
}

/* ===========================MEDIA QUERIES (MEDIUM DEVICES)==================================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

/* ===========================MEDIA QUERIES (SMALL DEVICES)==================================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  html {
    font-size: 64.5%;
  }
  section {
    margin-bottom: 2rem;
    margin-top: 0rem;
  }
}